@import "tailwindcss";
@tailwind utilities;

@plugin "daisyui" {
  themes: all;
}
@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply bg-base-300 min-h-screen;
    margin: 0;
  }
}

@utility foreground {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  @apply shadow-md;
}

@utility neutral {
  background-color: var(--color-neutral);
  color: var(--color-neutral-content);
}

.btn {
  @apply border-0;
}

.toggle {
  @apply checked:toggle-primary
}

.textarea {
  @apply rounded-box;
}

.fab>button:not(.btn-secondary) {
  @apply btn-primary;
}